
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
    font-family: 'Oswald', sans-serif !important;
}

p {
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.bold {
    font-weight: bold;
}

.video-container iframe,
.video-container-sm iframe {
    object-fit: cover;

    /*cover*/
    height: 100%;
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

/*.video-container iframe {*/
    /*pointer-events: none;*/
/*}*/

img.img-responsive {
    width: 100%;
    height: auto;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}
main {
    font-size: 1.2rem;
}

body.navbar-is-fixed nav.fixed-top {
    min-height: 80px
}

body.navbar-is-fixed main {
    padding-top: 80px;
}

.scrollToTop {
    margin: 0 30px 20px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}

.no-border {
    border: none
}

label.required:after {
    content: ' *';
    color: red
}

body {
    background: url('/img/background.jpg') white repeat
}

.card-deck .card {
    background: none
}

.navbar-light .navbar-nav .nav-link {
    color: black
}

.btn.btn-primary {
    background-color: black;
    color: white;
    border-color: white;
}

.btn.btn-default {
    background-color: transparent;
    color: black;
    border-color: black;
}

.btn.btn-default.white {
    background-color: transparent;
    color: white;
    border-color: white;
}

.fancy .card {
    background: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.fancy .card:hover {
    transition: 0.3s ease;
    transform: scale(1.02);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

button[disabled]:hover {
    cursor: not-allowed;
}

.nav-item {
    vertical-align: middle;
}

.navbar-brand {
    margin: 0
}

@media (max-width: 576px) {
    h1 {
        font-size: 20pt !important;
    }
    h2 {
        font-size: 18pt !important;
    }
    h3 {
        font-size: 17pt !important;
    }
    h4 {
        font-size: 15pt !important;
    }
    h5 {
        font-size: 12pt !important;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 1200px) {

}